body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 56px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sidebar{
background-color:   #9dafbc
}



.th-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar {
  background-color: #9dafbc;
  overflow-y: auto;
}
.filters{
  text-decoration: none;
  font-size: large;

}
.reset{
  border: none;
}

.form-group label {
  margin-bottom: 0.25rem;
  display: block;
}

/* For selects */
.form-group select {
  margin-bottom: 1rem;
  display: block;
}
